<html>

<head>
	<title>This is my webiste</title>
	<style type="text/css">
                body
                {
                        background-image: url("{{url_for('static',filename='tiger.jpg')}}");
                        background-repeat:no-repeat;
                    	background-size:cover;
                        color: red;
                        text-align: center;
                        font-size: 22px;
                }
        </style> 
</head>

<body>

	<h1>Hello master</h2>
	<h2>The King Never Fails To Win His Destiny</h1>

</body>

</html>
